<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- On page load, get current values of gains -->
	<link rel="stylesheet" type="text/css" href="../static/style.css?v=41">		
	<script type="text/javascript" src="../static/jquery-1.11.3.min.js"></script>
	<script type="text/javascript" src="../static/api.js"></script>	
	<script type="text/javascript" src="../static/controlsv2.js"></script>
	
</head>

<body>
	<div id="header">
		<center><div id="title"><font color="#ffffff">Founders AV Control</font></div></center>
		<div id="hidden"></div>
	</div>
	<div class="container">
		<center><div id="panelTitle">Audio Mixer</div></center>
		<div id="bluesville"></div>
		<div id="music"></div>
		<div id="mic1"></div>
		<div id="mic2"></div>
		<div id="xlr"></div>
		<div id="jazz" onclick="dtv(815)"><center><div id="selector">Jazz</div></center></div>	
		<div id="blues" onclick="dtv(816)"><center><div id="selector">Blues</div></center></div>
	</div>

	<script type="text/javascript" src="../static/index.js?v=10"></script>	

</body>
</html>
