<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- On page load, get current values of gains -->
	<link rel="stylesheet" type="text/css" href="../static/style.css?v=41">		
	<script type="text/javascript" src="../static/jquery-1.11.3.min.js"></script>
	<script type="text/javascript" src="../static/api.js"></script>	
	<script type="text/javascript" src="../static/controlsv2.js"></script>
	
</head>

<body>
	<div id="header">
		<center><div id="title"><font color="#ffffff">Founders AV Control</font></div></center>
		<a href="/music"><div id="volumePage"><center><div id="selector"><< Back</div></center></div></a>
	</div>
	<div class="container">
		<center><div id="panelTitle">Zones</div></center>
		<div id="bar"></div>
		<div id="seating1"></div>
		<div id="seating2"></div>
		<div id="elevator"></div>
		<div id="harp"></div>
	</div>

	<script type="text/javascript" src="../static/zones.js"></script>	

</body>
</html>
